

# Shared settings
tokenizer_model: "facebook/galactica-6.7b"
sequence_length: 1024
output_dir: "data/pretraining/processed"

# Dataset URLs
datasets:
  books: "sci-datasets/sci-books"
  code: "sci-datasets/sci-code"
  conv_forum: "sci-datasets/sci_conversations_v1"
  math: "sci-datasets/sci-math"
  papers: "sci-datasets/sci-papers"
  primer: "sci-datasets/sci-primer-v1"
  web: "sci-datasets/fineweb-edu-sci-super"